.h1,h2,h3,h4,h5,h6,p,a,span,ul,li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    transition: all ease-in-out 0.3s;
}

:root {
    --primary-blue: #01208E;
    --secondary-orange: #FE7400;
    --light-orange: #FD8D2f;
    --primary-gray: #717070;
    --primary-white: #FFFFFF;

    --primary-font: "Rubik", sans-serif;
    --heading-font: "Yeseva One", serif;
    --robboto-font: "Roboto", sans-serif;
    --popoppins-font: "Poppins", sans-serif;
}

body {
    font-family: var(--primary-font);
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
}

/* Banner Section Start */
.banner-section{
    background: url('/Asset/Image/banner-image-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* height: 450px; */
    margin-top: -10px;
    align-items: center;
}

.btn-banner{
    /* justify-content: center !important; */

}
/* Banner Section End */

/* Grains part css Start */

/* rice part */
    .card-img-top{
        width: 300px;
        height: 250px !important;
    }
/* rice part */


/* Grains part css end */


/* Pest Control section start */

.pest-img{
    width: 500px !important;
    height: 120px !important;
}


/* Pest Control section end */